<!--The content below is only a placeholder and can be replaced.-->

<h1>Game Of Thrones</h1>

<div style="text-align:center">
  <h2>Post Form</h2>
  <input [(ngModel)]="newCharacter.first_name" placeholder="first name"/>
  <input [(ngModel)]="newCharacter.last_name" placeholder="last name"/>
  <input [(ngModel)]="newCharacter.house" placeholder="house"/>
  <input [(ngModel)]="newCharacter.dead" placeholder="dead? true or false"/>
  <button (click)="postCharacter()">Submit</button>
  <h2>Post Form</h2>
  <input [(ngModel)]="newCharacter.first_name" placeholder="first name"/>
  <input [(ngModel)]="newCharacter.last_name" placeholder="last name"/>
  <input [(ngModel)]="newCharacter.house" placeholder="house"/>
  <input [(ngModel)]="newCharacter.dead" placeholder="dead? true or false"/>
  <button (click)="patchCharacter()">Submit</button>


	<ul>
		<li *ngFor="let character of characters">
			{{character.last_name}} {{character.first_name}} {{character.house}} {{character.dead}}
			<button (click)="editCharacter(character)">Edit</button>
		    <button (click)="killCharacter(character)">Kill</button>
		</li>
	</ul>
</div>